body {
	padding: 0;
	margin: 0;
	background-color: #f6f6f6;
}

.cart {
	position: relative;
	display: block;
	width: 28px;
	height: 28px;
	height: auto;
	overflow: hidden;
  }
	.material-icons {
	  position: relative;
	  top: 4px;
	  z-index: 1;
	  font-size: 30px;
	  padding-right: 10px;
	}
	.count {
	  position: absolute;
	  top: 0;
	  right: 0;
	  z-index: 2;
	  font-size: 11px;
	  border-radius: 50%;
	  background: #d60b28;
	  width: 16px;
	  height: 16px;
	  line-height:16px;
	  display: block;
	  text-align: center;
	  color: white;
	  font-family: 'Roboto', sans-serif;
	  font-weight: bold;
	}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 30px;
}

.header a {
  float: center;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}


.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666;
  
  }
  
  .navbar li {
	float: left;
  }
  
  .navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
	background-color: #111;
  }
  

  


/*------------------------------------*\
    RESET
\*------------------------------------*/
/* https://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

	html,body,div,span,applet,object,iframe,
	h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,cite,code,
	del,dfn,em,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,
	b,u,i,center,
	dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,
	table,caption,tbody,tfoot,thead,tr,th,td,
	article,aside,canvas,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section,summary,
	time,mark,audio,video{
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-size:100%;
		font:inherit;
		vertical-align:baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section{
		display:block;
	}
	body{
		line-height:1;
	}
	ol,ul{
		list-style:none;
	}
	blockquote,q{
		quotes:none;
	}
	blockquote:before,blockquote:after,
	q:before,q:after{
		content:’’;
		content:none;
	}
	/* remember to define visible focus styles! 
	:focus{
		outline:?????;
	} */
	
	/* remember to highlight inserts somehow! */
	ins{
		text-decoration:none;
	}
	del{
		text-decoration:line-through;
	}
	
	table{
		border-collapse:collapse;
		border-spacing:0;
	}
	
	/*------------------------------------*\
		$MAIN
	\*------------------------------------*/
	
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
	
	.product-section {
		padding: 1em;
		margin: 0 auto;
		width: 100%;
		max-width: 1240px;
		font-family: 'Roboto', sans-serif;
		background-color: #f6f6f6;
	}
	
	/* Typography */
	
	h1 {
		font-size: 28px;
		font-weight: 300;
		flex: 1;
	}
	
	h5 {
		font-weight: 500;
		line-height: 1.7em;
	}
	
	h6 {
		color: #666;
		font-size: 14px;
	}
	
	/* Product Layout */
	
	.product-filter {
		display: flex;
		padding: 30px 0;
	}
	
	.sort {
		display: flex;
		align-self: flex-end;
	}
	
	.collection-sort {
	 display: flex;
		flex-direction: column;
	}
	
	.collection-sort:first-child {
		padding-right: 20px;
	}
	
	label {
		color: #666;
		font-size: 10px;
		font-weight: 500;
		line-height: 2em;
		text-transform: uppercase;
	}
	
	.products {
		display: flex;
		flex-wrap: wrap;
	}
	
	.product-card {
		display: flex;
		flex-direction: column;
		
		padding: 2%;
		flex: 1 16%;
		
		background-color: #FFF;
		box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
	}
	
	.product-image img {
		width: 100%;
	}
	
	.product-info {
		margin-top: auto;
		padding-top: 20px;
		text-align: center;
	}
	
	@media ( max-width: 920px ) {
		
		.product-card {
			flex: 1 21%;
		}
		
		.products .product-card:first-child, 
		.products .product-card:nth-child(2) {
			flex: 2 46%;
		}
		
	}
	
	@media ( max-width: 600px ) {
		
		.product-card {
			flex: 1 46%;
		}
		
	}
	
	@media ( max-width: 480px ) {
		
		h1 {
			margin-bottom: 20px;
		}
		
		.product-filter {
			flex-direction: column;
		}
		
		.sort {
			align-self: flex-start;
		}
		
	}
	
	
	
	
	
	/* CAAAAAAAAAART */

	.product-container {
		max-width: 650px;
		margin: 0 auto;
		margin-top: 50px;
		display: flex;
		justify-content: space-around;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 100px;
	}

	.product-container ion-icon{
		font-size: 25px;
		color: #d60b28;
		margin-left: 10px;
		margin-right: 10px;
		cursor: pointer;
	}

	.product-header {
		width: 100%;
		max-width: 650px;
		display: flex;
		justify-content: flex-start;
		border-bottom: 4px solid lightblue;
		margin: 0 auto;
	}
	
	.product-title {
		width: 45%;
	}
	.price {
		width: 15%;
		border-bottom: 1px solid lightblue;
		display: flex;
		align-items: center;
	}

	.quantity {
		width: 30%;
		border-bottom: 1px solid lightblue;
		display: flex;
		align-items: center;
	}
	.total {
		width: 10%;
		border-bottom: 1px solid lightblue;
		display: flex;
		align-items: center;
	}
	
	.products {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	
	.products img {
		width: 75px;
	}

	.cartTotalContainer {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding: 10px 0;
	}

	.cartTotalTitle {
		width: 30%;
	}

	.cartTotal {
		width: 10%;
	}
	
	
	
	
	
	
	